

/* .Dashboard {
    text-align: center;
  } */
  

  h3{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .search-filter {
    margin: 20px 0;
  }
  
  .search-filter input,
  .search-filter select {
    padding: 10px;
    margin: 0 10px;
  }
  
  .chart-container {
    width: 80%;
    margin: 20px auto;
  }
  