.Members {
    text-align: center;
    margin: 20px;
  }
  

  h3{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .mt-3 {
    margin-top: 20px;
  }
  
  .modal-header {
    background-color: #007bff;
    color: white;
  }
  
  .modal-title {
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  