@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button{
    margin: 20px;
    padding: 5px;
    width: 200px;
    border-radius: 7px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    line-height: inherit;
    color: white;
    border-radius: 80px;
    transition: 0.2s ease;
    background-color: #007bff;
}

.Form{
    box-sizing: inherit;
    max-width: 400px;
    color: black;
    margin: 90px auto;
    display: flex;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif, Arial;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border-radius: 10px;
    height: 60vh;
    padding: 100px;
    text-align: center;
    background-color: #f6f9fc;
    border-color: #007bff;

}

